<!--
 * @Date         : 2021-05-25 18:44:32
 * @LastEditors  : zhangxu
 * @LastEditTime : 2021-07-16 19:25:09
 * @FilePath : /shuyuxuan_blog_front/src/pages/document.ejs
-->
<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>书语轩</title>
</head>
<body>
  <div id="root" class="root"></div>
  <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1280119640&web_id=1280119640"></script>
</body>

</html>