body {
  overflow-x: hidden;
}
.root {
  height: 100%;
}
.mr10 {
  margin-right: 10px;
}
* {
  box-sizing: border-box;
}
@font-face{
  font-family: 'FZXiaKTJW';
  src : url('/font/FZXiaKTJW.ttf');
}
@font-face{
  font-family: 'FZZhaoMFXSJF';
  src : url('/font/FZZhaoMFXSJF.ttf');
}